body {
	width: 80%;
	max-width: 1024px;
	margin: 0 auto;
	background: #fff url(https://wallpaperaccess.com/full/2097646.jpg) center center/cover no-repeat;
	background-blend-mode: luminosity;

}

.container-padding50 {
	padding-top: 50px;
}

.container-textinput {
	width: 50%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.container-button {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, sans-serif;
	background-color: green;
	margin-left: 2%;



	border: 1px solid green;
	border-radius: 5px;
}

.container-image {
	display: block;
	float: left;
  padding: 20px;
}

.js-container {
  color: #000;
}
.results {
    color: #000;
    font-size: 20px;
	border: 2px solid green;
	border-radius: 16px;
	padding: 10px;
	background: #fff;
}

.locationtext, .conditionstext, .mintemptext, .maxtemptext, .temptext {
	 font-size: 16px !important;
	color: green;
	margin-top: 10px;
	background: #fff;
}